# Flask
SECRET_KEY=
JWT_SECRET_KEY=

# PostgreSQL (local dev)
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=
LOCAL_DB_NAME=oliboBd

# PostgreSQL (AWS RDS)
PGHOST=
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=
PGSSLMODE=desable
AWS_REGION=us-east-1

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
